---
title: About
layout: base.njk
---
<div class="prose">
<p>I am a writer and editor based in Bangalore. Currently, I'm working as a Senior UX writer at Rubrik.</p>

<p>I was the first UX writer at Obvious and established the UX writing practice at the design agency. Before Obvious, I worked in the Content and Brand team at Openhouse, and as a reporter and sub-editor at Civil Society Magazine.</p>

<p>I have also worked in editorial roles at publishing houses like Navayana, Hachette and National Book Trust. I have a Bachelor's degree in English Literature from Lady Shri Ram College, Delhi.</p>

<p>I like to fall asleep with a book (or my Kindle) in my hands, fighting sleep to read just one more page. I've been crazy about books from the time I can remember.</p>

<p>I've been flirting with pottery on and off since 2022. I go back to pottery when life allows me to and I step away from it when other things need more time.</p>

<p>I collect simple, easy to cook recipes here. Everything about the world of food, especially the people who cook and help bring food to the table, fascinates me.</p>

<p>Snail mail at: <a href="mailto:sidikasehgal@gmail.com">sidikasehgal@gmail.com</a></p>
</div>
